In [1]:
import random
import pandas as pd

# Crear lista de ids con algunos que se repiten
ids = [random.randint(1, 10) for _ in range(40)]
ids[10:13] = [ids[0], ids[3], ids[6]]

# Crear diccionario aleatorio
data_dict = {
    'id': ids,
    'columna1': [random.random() for _ in range(40)],
    'columna2': [random.choice(['A', 'B', 'C']) for _ in range(40)],
    'columna3': [random.randint(1, 100) for _ in range(40)],
    'columna4': [random.uniform(0, 1) for _ in range(40)]
}

In [10]:
df = pd.DataFrame(data_dict)

In [11]:
df.head()

   id  columna1 columna2  columna3  columna4
0  10  0.015691        C        87  0.121534
1   7  0.957191        C        40  0.982400
2   3  0.010807        A        11  0.701781
3   6  0.594603        B        90  0.732632
4   5  0.368675        C        83  0.700814

In [19]:
# Ordenar el dataframe por fecha_timestamp
#df = df.sort_values(by='fecha_timestamp')

if df.groupby('id')['columna4'].shift(1).isna().all():
    
    df['goles_local_3_previos'] = df.groupby('id')['columna4'].shift(-1)
    df['tiros_local_3_previos'] = df.groupby('id')['columna3'].shift(-1)

elif df.groupby('id')['columna4'].shift(2).isna().all():
    df['goles_local_3_previos'] = df.groupby('id')['columna4'].shift(1)
    df['tiros_local_3_previos'] = df.groupby('id')['columna3'].shift(1)
    
elif df.groupby('id')['columna4'].shift(3).isna().all():
    # Obtener los goles de los 3 partidos anteriores
    df['goles_local_3_previos'] = df.groupby('id')['columna4'].shift(1) + \
                                  df.groupby('id')['columna4'].shift(2) 
    # Obtener los tiros de los 3 partidos anteriores
    df['tiros_local_3_previos'] = df.groupby('id')['columna3'].shift(1) + \
                                  df.groupby('id')['columna3'].shift(2) 

else:    
    # Obtener los goles de los 3 partidos anteriores
    df['goles_local_3_previos'] = df.groupby('id')['columna4'].shift(1) + \
                                  df.groupby('id')['columna4'].shift(2) + \
                                  df.groupby('id')['columna4'].shift(3)
    # Obtener los tiros de los 3 partidos anteriores
    df['tiros_local_3_previos'] = df.groupby('id')['columna3'].shift(1) + \
                                  df.groupby('id')['columna3'].shift(2) + \
                                  df.groupby('id')['columna3'].shift(3)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [24]:
# Hay suficientes valores anteriores para calcular los tres partidos previos
df['goles_local_3_previos'] = df.groupby('id')['columna4'].shift(1) + \
                              df.groupby('id')['columna4'].shift(2) + \
                              df.groupby('id')['columna4'].shift(3)
df['tiros_local_3_previos'] = df.groupby('id')['columna3'].shift(1) + \
                              df.groupby('id')['columna3'].shift(2) + \
                              df.groupby('id')['columna3'].shift(3)

df['goles_local_3_previos'] = df['goles_local_3_previos'].fillna(df.groupby('id')['columna4'].shift(-1))
df['tiros_local_3_previos'] = df['tiros_local_3_previos'].fillna(df.groupby('id')['columna3'].shift(-1))

In [27]:
df

,id,columna1,columna2,columna3,columna4,goles_local_3_previos,tiros_local_3_previos
0,10,0.015691,C,87,0.121534,0.276797,84.0
1,7,0.957191,C,40,0.982400,0.337728,69.0
2,3,0.010807,A,11,0.701781,0.628843,25.0
3,6,0.594603,B,90,0.732632,0.106738,79.0
4,5,0.368675,C,83,0.700814,0.382133,34.0
5,4,0.912450,A,87,0.575974,0.392245,65.0
6,7,0.519835,C,69,0.337728,0.079638,40.0
7,4,0.196151,A,65,0.392245,0.347689,67.0
8,2,0.978516,A,74,0.639984,0.942695,68.0
9,2,0.838894,A,68,0.942695,0.120290,84.0
10,10,0.924725,B,84,0.276797,0.641256,73.0
11,6,0.210074,A,79,0.106738,0.256797,5.0
12,7,0.157136,C,40,0.079638,0.607204,98.0
13,2,0.944797,B,84,0.120290,NaN,NaN
14,6,0.920786,B,5,0.256797,0.452704,86.0
15,1,0.778338,A,95,0.483133,0.605037,71.0
16,1,0.036108,C,71,0.605037,0.047959,60.0
17,5,0.409878,C,34,0.382133,0.525049,50.0
18,5,0.154384,B,50,0.525049,0.036576,85.0
19,4,0.599134,C,67,0.347689,0.180281,58.0
20,7,0.541684,A,98,0.607204,1.399766,149.0
21,7,0.442419,C,56,0.094818,1.024570,207.0
22,1,0.506125,B,60,0.047959,0.036202,41.0
23,9,0.745278,B,63,0.928848,NaN,NaN
24,7,0.975469,A,85,0.001192,0.781659,194.0
25,1,0.944388,C,41,0.036202,1.136130,226.0
26,6,0.519516,C,86,0.452704,1.096167,174.0
27,5,0.770005,C,85,0.036576,1.607996,167.0
28,6,0.842991,B,57,0.280484,0.816239,170.0
29,1,0.084235,C,93,0.065425,0.689199,172.0
30,5,0.837087,C,64,0.163108,0.943758,169.0
31,7,0.972025,A,52,0.806641,0.703214,239.0
32,3,0.351528,C,25,0.628843,NaN,NaN
33,7,0.465482,A,42,0.505036,0.902651,193.0
34,4,0.962890,C,58,0.180281,1.315908,219.0
35,5,0.405711,A,67,0.320037,0.724733,199.0
36,5,0.100776,A,69,0.419580,0.519721,216.0
37,10,0.182159,C,73,0.641256,NaN,NaN
38,8,0.303962,A,74,0.975209,NaN,NaN
39,5,0.953290,C,88,0.690815,0.902725,200.0

In [30]:
df.loc[df['id'] == 2]

,id,columna1,columna2,columna3,columna4,goles_local_3_previos,tiros_local_3_previos
8,2,0.978516,A,74,0.639984,0.942695,68.0
9,2,0.838894,A,68,0.942695,0.120290,84.0
13,2,0.944797,B,84,0.120290,NaN,NaN